<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/cs_CZ/sdk.js#xfbml=1&version=v14.0" nonce="pfQzKqqF"></script>

<header id="masthead" >
    <div id="carousel-example-generic" class="carousel slide carousel-fade">
        
      
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
            </ol>
            <div class="carousel-item active">
                <img src="/img/rouvy-promo-v1.jpg" class="d-block w-100" alt="MČR XCO Bedřichov">
                <div class="carousel-caption d-none d-md-block rounded">
                    <h6>World Cup XCO</h6>
                    <h4>ARAXA</h4>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/img/rouvy-promo-v2.jpg" class="d-block w-100" alt="MČR XCO Bedřichov">
                <div class="carousel-caption d-none d-md-block rounded">
                    <h6>MČR XCO</h6>
                    <h4>Bedřichov</h4>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/img/rouvy-promo-v3.jpg" class="d-block w-100" alt="MČR XCO Bedřichov">
                <div class="carousel-caption d-none d-md-block rounded">
                    <h6>World Cup XCO</h6>
                    <h4>ARAXA</h4>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/img/rouvy-promo-v8.jpg" class="d-block w-100" alt="Worl Championchip">
                <div class="carousel-caption d-none d-md-block rounded">
                    <h6>HC XCO</h6>
                    <h4>LENZERHEIDE</h4>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/img/rouvy-promo-v5.jpg" class="d-block w-100" alt="Elba Capoliveri Legend - XCO HC">
                <div class="carousel-caption d-none d-md-block rounded">
                    <h6>MČR XCO</h6>
                    <h4>Bedřichov</h4>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/img/rouvy-promo-v6.jpg" class="d-block w-100" alt="Elba Capoliveri Legend - XCO HC">
                <div class="carousel-caption d-none d-md-block rounded">
                    <h6>World Cup XCO</h6>
                    <h4>NMNM</h4>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/img/rouvy-promo-v7.jpg" class="d-block w-100" alt="Ötzaler MTB Festival Haiming - XCO HC">
                <div class="carousel-caption d-none d-md-block rounded">
                    <h6>World Cup XCO</h6>
                    <h4>LES GETS</h4>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/img/rouvy-promo-v4.jpg" class="d-block w-100" alt="World Cup Mont-Sainte-Anne">
                <div class="carousel-caption d-none d-md-block rounded">
                    <h6>World Cup XCO</h6>
                    <h4>CRANS MONTANA</h4>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        
        </div>
        <div class="intro-section">
            <h1 class="intro">
                ROUVY Cycling Team
            </h1>
        </div>
      </div>
</header>

<div class="container">
    <h2 class="my-4">ROUVY
        <small>{{ site.data.loc[page.lang].homepage-title }}</small>
    </h2>

    <div class="row main-info" >
    
         <div class="col-md-8" >
            {% if page.lang == "cs" %}
                <div id="news" class="mt-4 news mb-2" >
                    <img class="img-fluid" src="/img/rouvy-specialized-team-2025.jpg" alt="ROUVY Cycling Team 2025">
                    <div class="news-buttons-wrapper">
                        <a href="prezentace.pdf" class="btn btn-primary btn-secondary btn-lg active" role="button" aria-pressed="true">Shrnutí sezóny 2025</a>
                        <a href="rouvy-2026.pdf" class="btn btn-primary btn-secondary btn-lg active" role="button" aria-pressed="true">Plán sezóny 2026</a>
                    </div>
                
                    <p class="pb-2">
                        Podívejte se na kompletní přehled výsledků, úspěchů a aktivit týmu ROUVY Cycling Team v sezóně 2025. Závodníci dosáhli výborných výsledků na domácích i mezinárodních závodech a tým pokračoval v podpoře mladých talentů. Připravili jsme také detailní plán nadcházející sezóny 2026, kde zjistíte, jaké závody nás čekají, jaké jsou naše cíle a jak budeme pokračovat v rozvoji mladých cyklistů.
                    </p>
                                
                </div>
            {% endif %} 

            <div class="videoWrapper mb-2">
                <iframe width="100%"  src="https://www.youtube.com/embed/SrqEK9VowlM?si=4E4CHRd1buaiCR4e" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

             <div id="news" class="mt-4 news mb-2" >
                 <img class="img-fluid" src="/img/lipno-camp-news.jpg" alt="site.data.loc[page.lang].homepage-title">
                {% if page.lang == "cs" %}
                    <a href="KidsInterregCampLipno.pdf" class="btn btn-primary btn-secondary btn-lg active" role="button" aria-pressed="true">{{ site.data.loc[page.lang].read-more }}</a>
                {% else %}
                    <a href="/KidsInterregCampLipnoEN.pdf" class="btn btn-primary btn-secondary btn-lg active" role="button" aria-pressed="true">{{ site.data.loc[page.lang].read-more }}</a> 
                {% endif %}
            
                <p class="pb-2">
                    {{ site.data.loc[page.lang].granz-camp-lipno-content }}
                </p>                
            </div>

            <div id="news" class="mt-4 news mb-2">
                 <img class="img-fluid" src="/img/kids-camp.jpeg" alt=" site.data.loc[page.lang].homepage-title">
                <a href="https://www.bikearena-wegscheid.de/kidsmtbgrenzlandcamp" class="btn btn-primary btn-secondary btn-lg active" role="button" aria-pressed="true">{{ site.data.loc[page.lang].read-more }}</a>
                <p class="pb-2">
                    {{ site.data.loc[page.lang].granz-camp-content }}
                </p> 
            </div>

           
        </div>

        <div class="col-md-4">
            <div id="fb-root"></div>
            <div class="fb-page" data-href="https://www.facebook.com/rouvycyclingteam" data-tabs="timeline" data-show-posts="true" data-width="500" data-height="500" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false">
                <blockquote cite="https://www.facebook.com/rouvycyclingteam" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/rouvycyclingteam">ROUVY Cycling Team</a></blockquote>
            </div>
        </div>
        <div class="bg-info clearfix"> </div>
        <!-- <a href="img/poster-VCV-22-small.png">
            <img alt="ROUVY Velká Cena Vimperka MTB XCO 2020 poster" title="ROUVY Velká Cena Vimperka MTB XCO 2020 poster" src="/img/poster-VCV-22-small.png" class="img-fluid center-block"/>
        </a> -->
    </div>

    <div id="projects">
        <h3 class="my-4">{{ site.data.loc[page.lang].our-activities }}</h3>
        {% assign off = 0 %}
        {% for i in (0..1) %}
            <div class="row">
                {% for project in site.data.projects[page.lang] limit:2 offset:off %}
                    <div class="col-md-6 col-sm-12" id="{{ project-id }}">
                        <div   id="{{ project.cssid }}" class="project-content">
                            <h4>
                                <a href="{{ project.url }}" class="roundedAll">
                                    {{ project.name }}
                                </a>
                            </h4>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% assign off = off | plus: 2 %}
        {% endfor %}
    </div>
</div>
 <div class="bg-info clearfix" ></div>
<script type="text/javascript">
    var ChangeFBPagePlugin = function () {

       //getting parent box height
       //var container_height = (Number($('.fb-column').height()) - (Number($('.fb-column-header').height()) + Number($('.fb-column-header').css('margin-bottom').replace("px", "")) + Number(($('.fb-column').css('padding-top').replace("px", "")*2)))).toFixed(0);
        var containerHeight = Math.floor(Number($(".main-info .col-md-8").outerHeight()));
        var oW = Number($(".main-info").outerWidth());
        var containerWidth = Math.floor(oW - $(".main-info .col-md-8").outerWidth())
        if (!isNaN(containerHeight)) {
            $(".fb-page").attr("data-height", containerHeight);
            if (!isNaN(containerWidth)){
                if (containerWidth > 70)
                    $(".fb-page").attr("data-width", containerWidth-30);
                else
                    $(".fb-page").attr("data-width",  Math.floor(oW));
            }
            if (typeof FB !== 'undefined' ) {
            FB.XFBML.parse();
            }
        }

    }

    $(window).on('resize', function() {
        setTimeout(function(){ChangeFBPagePlugin()});
    });

    $(window).on('load', function() {
       setTimeout(function(){ChangeFBPagePlugin()});
       $('#carousel-example-generic').carousel({
            interval: 7000,
            ride:'carousel',
            wrap:true,
            pause:false
        })
    });

</script>
